{
  "extends": [
    "airbnb",
    "airbnb-typescript",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  },
  "plugins": [
    "react",
    "jsx-a11y",
    "import",
    "react-hooks",
    "@typescript-eslint"
  ],
  "globals": {
    "window": true,
    "document": true
  },
  "parserOptions": {
    "project": [
      "./tsconfig.json"
    ]
  },
  "settings": {
    "import/resolver": {
      "typescript": {}
    },
    "extensions": [
      ".js",
      ".ts"
    ]
  }
}
